{% extends 'base.html' %}
{% load static %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h4><span class="text-capitalize">خوش آمدید {{ request.user }}</span></h4>
        <div class="col-md-3 border-start">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'update_user' %}" class="btn btn-outline-success">صفحه کاربری</a></li>
                <li class="d-grid"><a href="#" class="btn btn-outline-success">اطلاعات کاربر</a></li>
                <li class="d-grid"><a href="{% url 'change_password' %}" class="btn btn-primary text-white">تغییر رمز عبور</a></li>
            </ul>
        </div>
        <div class="col-md-8 offset-sm-1">
            <form action="{% url 'change_password' %}" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="ثبت" class="btn btn-primary my-3">
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}