{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block main-content %}
<div class="header py-lg-5">
    <div class="text-center py-5">
        <h1 class="text-light">نتایج جستجو</h1>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container rounded py-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

        {% for product in products %}
        {% if product.is_sale %}
            <div class="col">
                <div class="card h-100 border border-secondary">
                    <a href="{% url 'product_detail' product.id %}" class="btn">
                        <div class="rounded">
                            <div class="badge bg-danger text-white position-absolute p-2" style="top: 7px; right: 12px;">تخفیف ویژه</div>
                            <img src="{{ product.image.url }}" class="img-fluid w-100 rounded" alt="" style="max-width: 100%">
                        </div>
                        <div class="text-dark bg-secondary px-3 py-1 rounded position-absolute " style="top: 7px; left: 13px;">{{ product.category }}</div>
                        <div class="card-body">
                            <h4 class="text-dark text-center">{{ product.name }}</h4>
                            <div class="justify-content-between text-center">
                                <strike class="text-black-50">{{ product.price | intcomma }} تومان / کیلوگرم</strike>
                                <p class="text-dark fs-5 fw-bold mb-2">{{ product.sale_price | intcomma }} تومان / کیلوگرم</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="col">
                <div class="card h-100 border border-secondary">
                    <a href="{% url 'product_detail' product.id %}" class="btn">
                        <div class="rounded">
                            <img src="{{ product.image.url }}" class="img-fluid w-100 rounded" alt="" style="max-width: 100%">
                        </div>
                        <div class="text-dark bg-secondary px-3 py-1 rounded position-absolute " style="top: 7px; left: 13px;">{{ product.category }}</div>
                        <div class="card-body">
                            <h4 class="text-dark text-center pb-4">{{ product.name }}</h4>
                            <p class="text-dark text-center fs-5 fw-bold mb-2">{{ product.price | intcomma }} تومان / کیلوگرم</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endif %}
        {% endfor %}

        </div>
    </div>
</div>

{% endblock main-content %}